<html>
<head>
<link rel="stylesheet" href="static/css/bootstrap.min.css">
 <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
#{
text-align:center;

}

</style>
 </head>

<body class="bg-white">


<nav class="navbar navbar-expand-sm bg-white navbar-dark fixed-top">
  <a class="navbar-brand text-dark" href="#">theDataComapny</a>
  <!--<ul class="navbar-nav mr-auto">
    <li class="nav-item ">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item ">
      <a class="nav-link" href="#">Link</a>
    </li>
  </ul>-->
  
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <a class="nav-link mr-4 text-dark">Home</a>
	  
    </li>
	<li class="nav-item">
      <a class="nav-link mr-4 text-dark">About</a>
	  
    </li>
	<li class="nav-item">
      <a class="nav-link mr-4 text-dark">ContactUs</a>
	  
    </li>
    
</nav>
<!--jumbtron-->
<div class="jumbotron jumbotron-fluid bg-light">
  <div class="container">
    <h1 class="display-1">Data Analytics</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>
<!--columns-->
<div class="container-fluid ">
  <div class="row">
    <div data-aos="fade-down-right" class="col-sm-6" >
      <img src="static/images/data1.png" class="rounded float-left" alt="..." style="height:350px">
    </div>
    <div class="col-sm-6">
      <p class="text-dark text-justify" style="font-size:27px">Analytics is a cloud-based business intelligence and analytics solution that
	  makes it easy to visualize, 
	  analyze and share insights about your business.
	  Clean, join and share data with automation and built-in intelligence
	  Create beautiful dashboards and reports with AI recommendations.Drive change in your
	  organization with interactive, animated data stories</p>
    </div>
  </div>
</div>
<!--blockchain-->
<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-sm-6">
    <p class="text-dark text-justify pt-5" style="font-size:27px"> 
From frictionless supply chains to food we can really trust, learn how industries are 
revolutionizing business with  Blockchain. 
But building and deploying enterprise blockchain 
solutions continues to be larger than any one business can tackle on its own. 
    </div>
    <div  data-aos="fade-down-left" class="col-sm-6">
       <img src="static/images/data6.jpg " class="rounded float-right " alt="..." style="height:350px">
    </div>
  </div>
</div>
<!--machine lear-->
<div class="container-fluid bg-light">
  <div class="row">
    <div data-aos="fade-down-right"  class="col-sm-6">
      <img src="static/images/data7.jpg " class="rounded float-left" alt="..." style="height:350px">
    </div>
    <div class="col-sm-6">
      <p class="text-dark text-justify pt-5" style="font-size:27px">Analytics is a cloud-based business intelligence and analytics solution that
	  artificial intelligence (AI) and machine learning (ML) have moved from aspirational to key components of 
	  digital transformation and business modernization initiatives.</p>
    </div>
  </div>
</div>


<h3 class="text-center pt-3">Grow Your business</h3>
<div class="row pt-3 bg-light" >
  <div class="col-sm-4 text-center font-weight-bold">oruganti harish@gmail.com</div>
  <div class="col-sm-4 text-center font-weight-bold">9493352125</div>
  <div class="col-sm-4 text-center font-weight-bold">linked in</div>
</div>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
</body>
</html>